<style>
    
    #letter-grid-text-area {
        resize:none;
        font-size: 1.2em;
        letter-spacing:17px;
        text-transform: uppercase;
        font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;             
        white-space: nowrap;
        overflow: auto;    
        
    }
    
</style>

<textarea 
    ng-model="$ctrl.gridText" 
    ng-change="$ctrl.parseGrid($ctrl.gridText)" 
    wrap="soft" 
    id="letter-grid-text-area" 
    class="form-control" 
    rows="10"></textarea>